---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import 'variables';
@import 'media-queries';
@import 'basscss';

@import 'base';
@import 'clearfix';
@import 'positions';

@import 'header';
@import 'footer';
@import 'pages';
@import 'posts';

@import 'projects';
@import 'profile';
@import 'pagination';
@import 'publications';

@import 'blockquotes';
@import 'code';
@import 'gallery';
@import 'gists';
@import 'links';
@import 'measure';

@import 'social-icons';
@import 'tables';
@import 'typography';


.shikhar-rounded-corners {
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    background-color: #ad0d0d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}